body {
    background-color:#AAAAAA; 
}

p {
    color:blue;
    background-color:yellow;
}
table {
    color:blue;
    background-color:grey;
}

td.client {
    color:red;
}

div.client {
    color:yellow;
    \border: 1px solid red;
    background-color:#BBBBBB;
    width:200px;
    height:50px;
    float:left;
    padding:5px;
    margin:5px;
}

div.client1 {
    clear:both;
}

div.client2 {
    float:left;
}

td {
    color:green;
}