\body {
    background: #990099
}

.client {
    color:red;
}
P {
    color:blue;
    background:black;
}
p.client1 {
    color:yellow;
}
table{
    color:green;
}
div.client {
    color:greenyellow;
    border: 1px solid red;
    float: left;
    width: 200px;
    padding: 10px;
    height: 50px;
    margin: 5px;
}
div.client1 {
    clear:right;
}